/* Zona del Header */
@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');

.header{
    background-color:#f2f2f2;
}

.header a{
    font-family: 'Anton', sans-serif;
    font-size:18px;
}

.logo{
    width: 50px;
}

.header a:hover{
    color:#AE1A49 !important;
    transition: all 1.3s ease;
}


/* Fin Zona del Header */

/*Modal */

#fb{
    width: 7%;
    float: left;
}
#google{
    width: 15%;
    float:left;
}
.btn1{
    background-color: #3b5998 !important;  
    color:white !important;
    text-decoration: none;
}

.btn2{
    background-color: #fd7521 !important;
}

/*Fin Modal*/

/*Main */

.letra{
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
    background: red;
    filter: grayscale(70%)
}

#main .carousel {
    position: relative;
}

#main .carousel .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    z-index:1;
}

#main .carousel .overlay .container,
#main .carousel .overlay .row{
    height: 100%;
}

/* Main Final*/